*{margin:0;padding: 0;}
.container{width: 100%; height: auto;}
.ust{height: 300px; width: auto; background-image: url(images/ddd.jpg); z-index: 3;}
.header{height: 70px; background-color: black; }
.logo{width: 94px; height: 70px; background-image: url(images/Adsıztasarım2.png); float: left; margin: 0; padding: 0;}
.arama{ height:100px; float: left; font-size: 20px; margin: 28px 0 0 1000px;}
.giris{width:70px; height: 25px;border:1px solid white ; border-radius: 10px; color:white; font: 20px normal; float: left; text-align: center; margin: 25px 0 0 100px; padding-top:3px ;}
.giris a{display: block; text-decoration: none; color: white;}
.giris a:hover{color: #C4B6B6; border-color:  #C4B6B6;}
.alt{height: auto; width: 100%;}
.kutu{height: 515px; width:1200px; margin: -70px auto 20px auto; position: relative;}
.kutu2{height: 515px; width:1200px; margin:0 auto 20px auto; position: relative;}
.kutu3{height: 515px; width:1200px; margin: 0 auto 20px auto; position: relative;}
.haber1{width: 348px; height: 445px; margin: 20px 0 0 40px; float: left; border: 1px solid white; border-bottom: 11px solid black;}
.haber2{width: 348px; height: 445px; margin: 20px 0 0 40px; float: left; border: 1px solid white;border-bottom: 11px solid black;}
.haber3{width: 348px; height: 445px; margin: 20px 0 0 40px; float: left; border: 1px solid white;border-bottom: 11px solid black;}
.yazi{width: 348px; height: 150px; background-color: white; margin-top: 300px ;}
.baslik{font-size: 20px; font-weight: bold; word-wrap: break-word; padding: 50px 0 5px 0; width: 348px; height: 100px;}
.haber1 a{text-decoration: none; color: black;}
.haber2 a{text-decoration: none; color: black;}
.haber3 a{text-decoration: none; color: black;}
.haber1 a:hover{color:rgb(237, 183, 118);}
.haber2 a:hover{color:rgb(237, 183, 118);}
.haber3 a:hover{color:rgb(237, 183, 118);}


.ensol{width: 120px; height: 570px; position: sticky; top: 0; background-color: black; margin: -410px 0 0 0;}
.menu ul li{list-style-type:none ; padding-bottom: 50px ; padding-top:20px; position: relative; }
.menu ul li a{  display:block; text-decoration: none;  color: white; font-size: 20px;}
.menu ul li a:hover{color: gray; text-decoration: underline;}


.footer { background:black;width:100%; height:275px;float:left;color:white; font-family:arial;}
		.footer #kutu b {font-size:14px;}
		.footer_container{width:768px; height:175px; margin:30px auto;}
		ul {list-style-type:none;margin:17px 0;padding:0px;}
		#kutu {width:auto; height:125px; float:left;}
		ul li {float:left;font-family:tahoma; font-size:12px; margin-bottom:8px; clear:left; color:#949798; }
		#kutu:last-child li {float:left;clear:none;margin-right:10px;}
